<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="instrumentService" class="com.ctp.trader.service.InstrumentServiceImpl">
		<property name="instrumentDao" ref="instrumentDao"></property>
		<property name="sequenceService" ref="sequenceService"></property>
	</bean>
	<bean class="com.ctp.trader.service.TraderServiceImpl" id="traderService">
	<property name="sequenceService" ref="sequenceService"></property>
	<property name="investorPositionDao" ref="investorPositionDao"></property>
	<property name="tradeDao" ref="tradeDao"></property>
	</bean>
	<bean class="com.ctp.trader.service.TradingAccountServiceImpl" id="tradingAccountService">
		<property name="tradingAccountDao" ref="tradingAccountDao"></property>
	</bean>
	<bean class="com.ctp.trader.service.TraderApiTriggerServiceImpl" id="traderApiTriggerService">
		<property name="sequenceService" ref="sequenceService"></property>
	</bean>
	<bean id="investorPositionService" class="com.ctp.trader.service.InvestorPositionServiceImpl">
	 	<property name="investorPositionDao" ref="investorPositionDao"/>
	 </bean>
</beans>